{% extends 'layout.html' %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
    <h1>{{ book.title }}</h1>
    <p><strong>Author:</strong> {{ book.author }}</p>
    <p><strong>Year:</strong> {{ book.year }}</p>
    <p><strong>Rating:</strong> {{ book.rating }}</p>
    <p><strong>Description:</strong></p>
    <p>{{ book.description }}</p>
    
    {% if can_edit_or_delete %}
      <a href="{% url 'edit_book' book.id %}">Edit</a> | 
      <a href="{% url 'delete_book' book.id %}">Delete</a>
    {% endif %}
    
    <a href="/">Back to homepage</a>
{% endblock %}
